.name {
    color: violet;
    font-size: 35px;
    font-family: sans-serif;
}
body {
    background-color: bisque;
}
h1{
    color: violet;
    text-align: center;
}
p{
    font-family: Verdana;
    font-size: 15px;
}
li {
    font-family: Verdana;
}
h2{
    color: violet;
    font-size: 25px;
}
a{
    color: red;
}
.pictures {
    display: flex;
    align-items: flex-end;
}
.pp
{
    color: red;
}